body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(landscape1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #000;
}

/*hr {
  margin: 20px auto;
  color:  #000;
  border: 3px solid #000;
  max-width: 400px;
  opacity: 1;  
}
*/
.buffer {
  height: 1rem;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-dark:hover {
 background-color: #ffc107;
 border-color: #ffc107;
 border-width: 4px;
}

.btn-xl {
  padding: 1rem 2rem;
}

.animate__animated.animate__bounce {
  --animate-duration: 2s;
}
